body {
    font-family: Arial, sans-serif;
    /* max-width: 600px; */
    margin: auto;
    height: 100vh;
    display: flex;
    /* overflow: visible; */
    /* position: absolute; */
    background-image: url(https://nqtan1605.github.io/ZhongWen/background-desktop.png);
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: center;
}
#quiz-container{
    width: 100%;
    z-index: 1;
}
.quiz-container {
    /* background: #f9f9f9; */
    padding: 40px;
    border-radius: 12px;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
    margin-bottom: 20px;
    /* height: 100vh; */
    color: aliceblue;
    text-align: center;
}

.question {
    font-size: 30px;
    margin-bottom: 20px;
}

.option {
    margin: 10px 0;
    font-size: 30px;
    width: 100%;
    padding-left: 150px;
    text-align: left !important;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: orangered;
    border: none;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}

#main-menu {
    width: 200px;
    position: fixed;
    height: 100vh;
    left: 0;
    z-index: 99;
    background-color: #2b0168;
    box-shadow: 5px 0 5px rgba(202, 202, 202, 0.2);
}

#main-menu ul{
    list-style-type: none;
    padding: 0 0 0 20px;
}
#main-menu ul li{
    padding: 20px 0;
}
#main-menu ul li a{
    text-decoration: none;
    font-size: 20px;
    color: aliceblue;
}
#main-menu ul li a:hover{
    color: orange;
}
#content{
    display: flex;
    margin-left: 250px;
    width: 100%;
}
#lesson-selector{
    width: 20%;
    padding: 100px 0 0 0;

}
#lesson-selector label{
    color: aliceblue;
}
#lesson{
    width: 50%;
    height: 30px;
    background-color: wheat;
    border-radius: 5px;
    border: 1px solid rgba(255, 67, 9, 0.5);
    box-sizing: border-box;
    font-size: 16px;
    transition: 0.3s ease;
    outline: none;
}
#lesson:focus{
    border-color: rgba(255, 67, 9, 0.5);
    box-shadow: 0 0 10px rgba(255, 67, 9, 0.5);
}

#text1{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid rgba(255, 67, 9, 0.5);
    box-sizing: border-box;
    font-size: 22px;
    transition: 0.3s ease;
    outline: none;
}
#text1:focus{
    border-color: rgba(255, 67, 9, 0.5);
    box-shadow: 0 0 10px rgba(255, 67, 9, 0.5);
}

#quiz-container{
    padding-left: 150px;
    width: 40%;
}

/* #example{
    background-color: red;
    height: 50px;
    color: white;
} */

#input-log{
    color: white;
    font-size: 20px;
    width: 40%;
    padding-left: 20px;
}